@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .btn-gradient {
    @apply bg-gradient-to-tr from-[rgb(5,102,102)] to-[rgb(16,125,125)];
  }
}

@layer utilities {
  .gradient-light {
    @apply bg-gradient-to-r;
    background-image: linear-gradient(to right, rgba(5, 102, 102, 0.699), rgba(255, 255, 255, 0.215));
  }
}

.orange{
  color: #d48413;
}

.darkgreen{
  color: #056666;
}

.text-gradient{
  color : linear-gradient(to left, rgba(5, 102, 102, 0.324), rgb(255, 255, 255));
}

.menu-open {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease-out;
}

.menu-close {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s ease-in;
}
